#BACKEND-------------------------------------------------
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
.env.local
.env.prod
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Pyre type checker
.pyre/

# Mypy type checker
.mypy_cache/

# IDEs
.idea/
.vscode/
*.swp

# Ignore all env files
.env
#

# Scrapy -----------------------------------------------------------------
.scrapy
scrapy.cfg
result.json

# Docker ------------------------------------------------------------------
docker-compose.override.yml
docker-compose.yml

.DS_Store
node_modules

# Environment -----------------------------------------------------------------
/spy/

/scripts